{% load bootstrap4 %}
{% load humanize instagram_tags %}

<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar_url }}" class="rounded-circle" alt="" style="width:32px; height:32px;"/>
        <a href="{% url "instagram:user_page" post.author.username %}">
            {{ post.author.name }}
        </a>
    </div>
    <div class="card-body">
        <img src="{{ post.photo.url }}" alt="" style="width: 100%;"/>

        <div>
            {% if post|is_like_user:user %}
                <a href="{% url "instagram:post_unlike" post.pk %}" style="color: inherit;">
                    <i class="fa fa-heart"></i>
                </a>
            {% else %}
                <a href="{% url "instagram:post_like" post.pk %}" style="color: inherit;">
                    <i class="fa fa-heart-o"></i>
                </a>
            {% endif %}
        </div>

        <div class="comment-list mt-3 mb-3">
            {% for comment in post.comment_set.all %}
                <div class="comment">
                    <strong>{{ comment.author }}</strong>
                    {{ comment.message }}
                    <small class="text-muted"> {{ comment.created_at }} </small>
                </div>
            {% endfor %}
        </div>


        <div>
            {% for tag in post.tag_set.all %}
                <span class="badge badge-primary">
                #{{ tag.name }}
            </span>
            {% endfor %}

        </div>

        <a href="{{ post.get_absolute_url }}" style="" class="text-muted">
            <small>
                {{ post.created_at|naturaltime }}
            </small>
        </a>

    </div>
    <div class="card-footer">
        <form id="post-{{ post.pk }}-comment-form" action="{% url 'instagram:comment_new' post.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <button class="btn btn-primary btn-block">댓글쓰기</button>
        </form>

{#        <script>#}
{#            $(function () {#}
{#                var form_id = "post-{{ post.pk }}-comment-form"#}
{##}
{#                $("#" + form_id).submit(function (e) {#}
{#                    e.preventDefault()#}
{##}
{#                    var option = {#}
{#                        target: "#server-response-{{ post.pk }}",#}
{#                        sccuess: function (responseText, statusText, xhr, $form) {#}
{#                            console.group("ajaxSubmit response");#}
{#                            console.log(responseText);#}
{#                            console.log(statusText);#}
{#                            console.log(xhr);#}
{#                            console.log($form);#}
{#                            console.groupEnd();#}
{##}
{#                        }#}
{#                    }#}
{##}
{#                    $(this).ajaxSubmit(option)#}
{#                    window.that = $(this)#}
{#                    console.log("submit")#}
{#                });#}
{#                console.log("document ready")#}
{#            })#}
{#        </script>#}
    </div>

</div>